:root{
    --c:coral;
    --ff:monospace;
}

body{
    font-family: var(--ff);
    background: var(--c);
    max-width:650px;
    min-width: 320px;
    margin-inline: auto;
    padding: 20px;
}

header, main, footer{
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin: 10px auto;
}

header nav ul{
    list-style: none;
    padding-left:0 ;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
img{
    max-width:100%;
    border-radius:20px;
}


a{
    text-decoration: none;
    color:var(--c)
}

a:hover{
    text-decoration: underline;
}


#countDown{
    text-align: center;
    background: var(--c);
    color:white;
    padding: 20px;
    border-radius: 20px;

}

button, .btn{
    text-align: center;
    color:white;
    padding: 10px;
    border-radius: 20px;
    background:none;
    border: var(--c) 1px solid;
    color: var(--c);
}

button:hover, .btn:hover,
button.selected, .btn.selected{
    background: var(--c);
    color:white;

}



pre{
    background:#EEE;
    padding:20px;
    border-radius:20px;
    border: solid #888 1px;
}